* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

html, body {
  background: #AAA -webkit-linear-gradient(top, #AAA 10%, #444 60%, #888 96% );
  height: 100%;
  color: #111;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 110%;
  text-shadow: -1px 0px 0px #AAA, 1px 1px 1px #FFF;
  font-family: Georgia;
}

a {
  text-decoration: none;
  opacity: 0.83;
  color: #11E;
  color: #050;
  color: #C00;
}

a:hover {
  opacity: 1;
  text-shadow: -1px -1px 1px #AAA, 1px 1px 2px #FFF;
}

.content {
  margin: 2.5% auto;
  width: 95%;
}

header {
  margin: 0 0 3px 0;
}

.playlist a {
  display: block;
}

.player {
  background: #AAA -webkit-linear-gradient(bottom, #AAA 10%, #EEE 90%);
  border-radius: 18px;
  padding: 2% 2% 2%;
  border: 1px solid #777;
  box-shadow: 0px -2px 20px #FFF;
}

.player a {
  font-size: 20px;
  font-weight: bold;
}

.player a.play_pause {
  font-size:  22px;
  margin: 0 6px 0 10px;
  position: relative;
  top: 2px;
}

.player a.playing {
  margin: 0 -12px 0 3px;
  line-height: 27px;
}

h1 {
  font-size: 90%;
  opacity: 0.7;
  margin: 0 0 4px 0;
}

.songs {
  margin: 10px 0 0 0;
  background: #DDD -webkit-linear-gradient(bottom, #AAA 30%, #DDD 90%);
  box-shadow:  0px 1px 3px #FFF, 0px 1px 30px #FFF;
  border: 1px solid #777;
  border-radius: 10px;
  padding: 0 0 0.3%;
  font-size: 85%;
}

.songs h1 {
  font-size: 70%;
  opacity: 0.5;
  padding: 1% 2% 0;
}

.songs a {
  background: #AAA -webkit-linear-gradient(bottom, #AAA 30%, #DDD 90%);
  padding: 1.2% 2%;
}

.song_name {
  display: inline;
  margin: 0 0 0 2%;
  font-size: 90%;
}

input.current_time {
  margin: 0 0 0 2%;
}

footer {
  padding: 2.5% 0 3%;
  font-size: 60%;
  text-align: right;
  text-shadow: none;
}